APP_PORT=3001
APP_FOR=local
APP_HOST=http://localhost:
APP_SERVER=DESKTOP-K6ILVF6\\SQLEXPRESS
NODE_CLUSTER=NO

DB_CLIENT=mssql
DB_HOST=localhost
DB_NAME=mus
DB_USER=sa
DB_PASSWORD=admin123
# DB_PORT dikosongkan agar tidak digunakan dengan instance
DB_PORT=

JWT_EXPIRATION=1d
TOKEN_EXPIRED=1d
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_EXPIRATION_REFRESH=1d
APP_BASE_URL=http://localhost:3000
