APP_PORT=3001
APP_FOR=local
APP_HOST=http://localhost:
NODE_CLUSTER=NO

DB_CLIENT=mysql2
DB_HOST=localhost
DB_NAME=toko
DB_USER=root
DB_PASSWORD=

JWT_EXPIRATION=1d
TOKEN_EXPIRED=1d
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_EXPIRATION_REFRESH=1d
APP_BASE_URL=http://localhost:3000
